body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  padding: 0;
}

article {
  padding-top: 145px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* @media screen and (max-width: 900px) {
  article {
    padding-top: 120px;
  }
} */
