.cart {
  position: absolute;
  top: -20px;
  right: 0;
  width: 350px;
  background-color: #fff;
  cursor: default;
  border: 2px solid#000;
  max-height: 99vh;
  z-index: 11;
  overflow-y: auto;
}

.cart:hover {
  z-index: 99;
}

.totalItems {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.totalItems span {
  font-weight: bold;
}

.discountCode {
  display: flex;
  justify-content: center;
  margin: 10px 0 5px;
}

.inputCode {
  font-size: 1.1rem;
  border: 1px solid #000;
  padding: 2px 5px;
  margin: 0;
  max-width: 200px;
  height: 25px;
  outline: 0;
}

.inputCode::placeholder {
  font-size: 0.8rem;
  color: #888;
}

.total {
  text-align: right;
  padding: 10px 15px;
  display: flex;
  font-size: 1.1rem;
  border-top: 1px solid #000;
}

.total span:last-child {
  font-weight: bold;
  margin-left: auto;
  font-size: 1.1rem;
}

.codeEntered {
  text-align: center;
}

@media screen and (max-width: 460px) {
  .cart {
    width: 100%;
    position: fixed;
    top: 0;
  }
}
