.container {
  margin-top: 200px;
  text-align: center;
}

.hdr {
  margin: 20px 0;
  color: #555;
  font-size: 1.6rem;
}

.navigate {
  margin-top: 20px;
  display: inline-block;
  color: #ffcf00;
  background-color: #000;
  padding: 15px;
  width: 100px;
}

.navigate:first-child {
  margin-right: 20px;
}
