.container {
  display: flex;
  align-items: center;
  padding: 3px;
  border-top: 1px solid #d3d3d3;
  margin-top: auto;
}

.ak {
  flex: 1;
  color: #555;
}

.ak a {
  font-weight: bold;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.manage a {
  font-size: 12px;
  color: #888;
  font-weight: normal;
  margin-left: 5px;
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .list li {
    flex-grow: 1;
  }
}
